<
<!DOCTYPE html>
<html>
<head>
  <title>States</title>
  <link rel="stylesheet" type="text/css" href="../static/theCss.css">

  <script src="../static/js/theScripts.js" charset="utf-8"></script>
  </script>
  </head>

  <body>

  <div class="topBar">

  <center><h1 class="topTitle">Mindfulness</h1></center>
      <br>




        <button class="removeButton ranEx" id="newEx" onClick="ranGroundingEx()">
          Random Activity
        </button>

      <div class="TypedEx give underlined">
        <p>
          Exercise Type
        </p>
        <button class="removeButton" id="breath" onClick="breathEx()">
           Breathing
        </button>
        <button class="removeButton" id="disract" onClick="distractEx()">
            Distraction
        </button>
        <button class="removeButton" id="senses" onClick="sensEx()">
            Sensory
        </button>
        <button class="removeButton" id="mind" onClick="mindsetEx()">
            Mindful
        </button>
        <button class="removeButton" id="imgs" onClick="imaginaryEx()">
            Imagery
        </button>

      </div>

  </div>
  <center>
  <div class=" mindfulVeryLong mindful"><p>
Imagine you have a spaceship that can rocket you to your favorite place, real or imaginary. Climb into you ship and count down from ten to one and blast off to your destination; stay there for a while and practice your breathing. Then ride back on your ship or any means of transportation that exist at your destination. Feeling relaxed and refreshed. Look around you. Notice what is around you. Name and notice the qualities of large objects then the smaller ones.
  </p></div>
  </center>


</body>
