
<!DOCTYPE html>
<html>
<head>
  <title>States</title>
  <link rel="stylesheet" type="text/css" href="../static/theCss.css">

  <script src="../static/js/theScripts.js" charset="utf-8"></script>
  </script>
  </head>

  <body>

  <div class="topBar">

  <center><h1 class="topTitle">Mindfulness</h1></center>
      <br>




        <button class="removeButton ranEx" id="newEx" onClick="ranGroundingEx()">
          Random Activity
        </button>

      <div class="TypedEx give underlined">
        <p>
          Exercise Type
        </p>
        <button class="removeButton" id="breath" onClick="breathEx()">
           Breathing
        </button>
        <button class="removeButton" id="disract" onClick="distractEx()">
            Distraction
        </button>
        <button class="removeButton" id="senses" onClick="sensEx()">
            Sensory
        </button>
        <button class="removeButton" id="mind" onClick="mindsetEx()">
            Mindful
        </button>
        <button class="removeButton" id="imgs" onClick="imaginaryEx()">
            Imagery
        </button>

      </div>

  </div>
  <center>
<div class="mindfulVeryLong mindful"><p>
Put on music or just listen to the repeating sounds around you(the humm of electric appliances, air condition, tickling clocks, ect). Close your eyes and tune into that sound. If you get distracted  find the sound again. Pay attention to your breathing. Does it come in time with the sound?
</p></div>
</center>


</body>
